node_modules
dist
build
coverage
.git
.github
tests
downloads

.env
.env.*
*.pem
wallet.pem
agent.config.json
manifest.config.json
.relayer_cache.json

*.tsbuildinfo
npm-debug.log*
.DS_Store
README.md
STARTER_KIT_GUIDE.md
LICENSE
